@use '@/styles/defaults';

.feedback_section {
padding: 220px 0;

  .feedback_head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;

    .all_btn {
      width: 240px;
    }
  }

  .feedback_title {
    color: defaults.$text-dark_disable;
    font-size: 52px;
    font-weight: 500;
  }
}