@use "@/styles/defaults";

.question {
  margin-bottom: 220px;
  height: 618px;

  &_head {
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &_title {
    font-size: 52px;
    font-weight: 500;
    line-height: 62px;
    color: defaults.$text-dark_disable;
  }

  &_description {
    max-width: 566px;
    font-size: 18px;
    font-weight: 500;
    color: defaults.$c-Primary-3;
  }

  &_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
    height: 618px;
  }

  &_image {
    width: 100%;
    height: 100%;
    //height: 47.5vw;
    //width: 47.5vw;
    border-radius: 24px;
    overflow: hidden;
    position: relative;

    &_overlay {
      position: absolute;
      top: 0;
      left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
    }

    & > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}