@import "@/styles/defaults";

.auth_section {
  width: 100%;
  height: fit-content;
  padding-top: 20px;

  .auth_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
    width: 100%;
    height: 100%;

    &__img_wrapper {
      border-radius: 24px;
      height: 712px;
      width: 100%;
      background: $c-G-1;
    }

    &__form_wrapper {
      border-radius: 24px;
      height: 712px;
      width: 100%;
      border: 2px solid $c-G-2;
      background: $c-G-3;
      padding: 36px 60px;
    }
  }
}