@import "@/styles/defaults";

.button {
  border-radius: 4rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .4rem 1.4rem;
  background: $c-Primary;
  color: $c-Primary-2;
  font-size: 1.8rem;
  border: 2px solid transparent;
  height: 4rem;

  transition: background-color 150ms, border-color 100ms, color 150ms;

  &:hover {
    background: $c-Primary-2;
    color: $c-Primary;
    border-color: $c-Primary;
  }

  &:active {
    background: $c-G-4;
    color: $c-Primary;
    border-color: $c-Primary;
  }

  .icon_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    padding: .8rem;
    background-color: $c-Primary-2;
  }
}

.with_icon {
  justify-content: space-between;
}

.left_icon {
  padding: .2rem 1.4rem .2rem .2rem;
}

.right_icon {
  padding: .2rem .2rem .2rem 1.4rem;
}

.secondary {
  border: 2px solid $c-G-2;
  background-color: $c-Primary-2;
  color: $c-Primary-3;

  .icon_wrapper {
    background-color: $c-G-2;
  }

  &:hover {
    background-color: $c-G-2;
    border-color: $c-G-2;
    color: $c-Primary-3;

    .icon_wrapper {
      background-color: $c-G-2;
    }
  }

  &:active {
    background-color: $c-G-2;
    border-color: $c-Primary-2;
    color: $c-Primary-3;

    .icon_wrapper {
      background-color: $c-G-2;
    }
  }
}