@use '@/styles/defaults';

.courses {
  margin: 220px 0;
  height: 100%;

  &_head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
  }

  &_title {
    color: defaults.$c-G-5;
    font-size: 52px;
    font-weight: 500;
  }

  .all_btn {
    width: 240px;
  }

  &_grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    //grid-template-rows: 1fr 1fr;
    grid-gap: 40px 24px;
  }
}