@use "@/styles/defaults";

.auth_block {
  padding: 8px;
  background: transparent;
  border: 2px solid defaults.$c-G-2;
  border-radius: 40px;
  display: flex;
  gap: 8px;
  align-items: center;

  & button {
    width: 168px;
  }
}