@use "@/styles/defaults";
@use "@/styles/typography";

.info_wrapper {
  position: relative;

  .info_item {
    padding: 16px;
    background: defaults.$c-Primary-2;
    border: 2px solid defaults.$c-G-2;
    border-radius: 12px;
    display: grid;
    grid-template-columns: 100px auto 1fr;
    align-items: center;
    gap: 24px;
    position: relative;
    //z-index: 3;

    .serial {
      font-size: 32px;
      width: 100%;
      font-weight: 500;
      color: defaults.$text-dark_disable;
    }

    .title, .subtitle {
      @include typography.h4;
      color: defaults.$text-dark_secondary;
    }

    .subtitle {
      text-align: right;
    }

    &:hover {
      & ~ .img_block {
        transform: translate(-50%, calc(-100% - 12px)) rotate(7deg);
        opacity: 1;
        width: 180px;
        height: 220px;

        &_even {
          transform: translate(-50%, calc(-100% - 12px)) rotate(-7deg);
        }
      }
    }
  }

  .img_block {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: transform 0.3s, width 0.3s, height 0.3s, opacity 0.3s;
    border-radius: 24px;
    opacity: 0;
    width: 0;
    height: 0;
    overflow: hidden;
    //z-index: 0;

    & > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}