$c-Primary: #007B5E;
$c-Danger: #FF6A5F;

$c-Primary-2: #fff;
$c-Primary-3: #000;

$c-BG: #FFFBFE;

$c-G-1: #484649;
$c-G-2: #E6E1E5;
$c-G-3: #F4EFF4;
$c-G-4: #E6F2EF;
$c-G-5: #AEAAAE;

$text-light_primary: #FFFFFF;
$text-light_disable: #787579;

$text-dark_primary: #000000;
$text-dark_secondary: #484649;
$text-dark_disable: #AEAAAE;

$stroke_default: #E6E1E5;

$green-50: #E6F2EF;
$green-100: #B0D6CD;
$green-200: #8AC2B5;
$green-300: #54A793;
$green-400: #33957E;
$green-500: #007B5E;
$green-600: #007056;
$green-700: #005743;
$green-800: #004434;
$green-900: #003427;

