.container {
  max-width: 1900px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0 24px;
  z-index: 10;
  position: relative;

  //@media (max-width: 1439px) {
  //  padding: 0 36px;
  //  max-width: 1032px;
  //}
  //
  //@media screen and (max-width: 1023px) {
  //  padding: 0 64px;
  //  max-width: 768px;
  //}

  @media screen and (max-width: 767px) {
    padding: 0 10px;
    max-width: 360px;
  }

  @media screen and (max-width: 359px) {
    padding: 0 10px;
    max-width: 320px;
  }
}

.page {
  padding-top: 140px;
  width: 100%;
}

* {
  &::-webkit-scrollbar {
    width: 16px;
    background: #000;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #F4EFF4;
    border-radius: 4px;
    background-clip: padding-box;
    border: 6px solid rgba(0, 0, 0, 0);
    border-right: 5px solid rgba(0, 0, 0, 0);
  }
}

.link_icon {
  width: 20px;
  height: 20px;
}